<footer>
    <div class="container">
        <div>
            Coded and built with ❤️ by
            <a href="https://github.com/typicode">typicode</a>
            <br>Source code and CHANGELOG available on
            <a href="https://github.com/typicode/jsonplaceholder">GitHub</a>
        </div>
    </div>
</footer>